# Serveur
PORT=5000
NODE_ENV=production

# Base de données MongoDB Atlas
MONGODB_URI=mongodb+srv://<user>:<password>@cluster.mongodb.net/agt-e-motors

# Email (compte Gmail expéditeur)
EMAIL_USER=votre_compte@gmail.com
EMAIL_PASS=xxxx_xxxx_xxxx_xxxx
EMAIL_FROM=noreply@agtemotors.com

# Notifications admin
ADMIN_EMAIL=contact@agtemotors.com
ADMIN_URL=https://backend-agt-e-motors.onrender.com
